.header {
  max-width: 90rem;
  width: 100%;

  display: flex;
  align-items: center;

  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &__button-wrapper {
    margin-left: auto;
  }

  @include media('>small') {
    margin-top: 1.3125rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &__nav {
      margin-left: 3.75rem;
    }

    &__button-wrapper {
      display: flex;
      align-items: center;

      gap: 2.5rem;
    }
  }
}
