.nav {
  z-index: 500;

  @extend %transition;

  &__list {
    list-style: none;

    display: grid;

    gap: 1rem;
  }

  + .backdrop {
    @extend %transition;
  }

  @include media('<medium') {
    background-color: $color-white;

    position: fixed;
    left: 36%;
    top: 0;
    bottom: 0;
    right: 0;

    padding-top: 4.875rem;
    padding-left: 1.5rem;

    &[data-expanded='false'] {
      opacity: 0;
      transform: translateX(100%);
      pointer-events: none;
    }
    &[data-expanded='true'] {
      opacity: 1;
      transform: translateX(0%);
      pointer-events: all;
    }

    + .backdrop {
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.75);
      transform: none;
    }

    &[data-expanded='false'] + .backdrop {
      opacity: 0;
      pointer-events: none;
    }

    &[data-expanded='true'] + .backdrop {
      opacity: 1;
      pointer-events: all;
    }
  }

  @include media('>medium') {
    &__list {
      display: flex;

      gap: 2.5rem;
    }
  }
}
