.nav {
  &__list {
    list-style: none;

    display: grid;

    gap: 1rem;
  }
  // &__item {
  // }

  @include media('<medium') {
    &__list[data-expanded='false'] {
      display: none;
    }
  }

  @include media('>medium') {
    &__list {
      display: flex;

      gap: 2.5rem;
    }
  }
}
