*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: $color-almost-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include media('>=xlarge') {
  html {
    font-size: clamp(1em, 1em + 1vw, 2em);
  }
}
