html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;

  // border: 1px dashed grey;
}

body {
  min-height: 100vh;
  background-color: $color-almost-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
