@mixin logo {
  font-size: 2.1875rem;
  line-height: 2.1875rem;
  letter-spacing: -0.49px;
}
%logo {
  margin: 0;

  font-family: $font-sans-serif;
  font-weight: 700;
  color: $color-black;

  @include logo;
}

@mixin heading-l {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -1.11px;
}
%heading-l {
  font-family: $font-sans-serif;
  font-weight: 700;

  @include heading-l;
}

@mixin heading-s {
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: -0.0313rem;
}
%heading-s {
  font-family: $font-sans-serif;
  font-weight: 700;

  @include heading-s;
}

@mixin body-m {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0rem;
}
%body-m {
  font-family: $font-sans-serif;
  font-family: 500;

  @include body-m;
}

@mixin body-s {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0rem;
}
%body-s {
  text-decoration: none;
  font-family: $font-sans-serif;
  font-family: 500;

  @include body-s;
}

@mixin button {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.0156rem;
}
%button {
  font-family: $font-sans-serif;
  font-family: 700;

  @include button;
}

@mixin button-s {
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.0138rem;
}
%button-s {
  font-family: $font-sans-serif;
  font-family: 700;

  @include button-s;
}

@mixin link {
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0rem;
}
%link {
  text-decoration: none;
  font-family: $font-sans-serif;
  font-family: 500;
  color: $color-medium-grey;

  @include link;
}

%active-state {
  text-decoration: none;

  cursor: pointer;
  color: $color-medium-grey;
  border-color: $color-medium-grey;
  @extend %transition;

  &:hover {
    color: $color-almost-black;
    border-color: $color-almost-black;
  }
}

.header__logo {
  @extend %logo;
}

.dropdown__text,
.dropdown__link,
.nav__link {
  @extend %link;
  @include media('>small') {
    @include body-s;
  }
}

.button-login,
.button-register {
  @extend %body-s;
}

.nav__link,
.dropdown__link,
.button-login,
.button-register {
  @extend %active-state;
}

.dropdown__expand {
  .dropdown__text {
    color: $color-medium-grey !important;

    @extend %transition;
  }
  .dropdown__arrow-path {
    stroke: $color-medium-grey !important;

    @extend %transition;
  }

  &:hover {
    .dropdown__text {
      color: $color-almost-black !important;
    }
    .dropdown__arrow-path {
      stroke: $color-almost-black !important;
    }
  }
}

.hero {
  @include media('<medium') {
    text-align: center;
  }
}

.hero__heading {
  @extend %heading-s;
  @include media('>small') {
    @include heading-l;
  }
}

.hero__paragraph {
  @extend %link;
}

.button-learn-more {
  @extend %button-s;
  @extend %transition;

  @include media('>small') {
    @include button;
  }
}
